Dear Fatima,

When you load data and select certain subsets, you need to know the material of unit 2 where this is disucssed in detail and of course the various computer exercisises where this was practiced.

Let me remind you of the necessary steps with the example of, say Kenya.

First you need to load the library that stores the data:

In [1]:
library(JWL)

Now the computer has loaded the package with all the data in the package inclding the one we need `population_statistics_by_age_and_sex`, so we can use it in the section. These data have a long name, which is descriptive. It is easier to work with them if we - for this session - store them in an onbject with a simpler name, we can use for our work. Let's call this object - say - `df`

In [2]:
df  <- population_statistics_by_age_and_sex

This is a large datafile, containing observations for many countries and many years, as you can see when you check the size of the data by `dim`:

In [3]:
dim(df)

[1] 1369480       6

It has 1.269.480 rows and 6 columns. We can check how they look like when we use the `head` function, like this:

In [4]:
head(df)

  Country ISO2 Year Sex Age   POP
1 Andorra AD   1950 F   0-4   NA
2 Andorra AD   1950 F   5-9   NA
3 Andorra AD   1950 F   10-14 NA
4 Andorra AD   1950 F   15-19 NA
5 Andorra AD   1950 F   20-24 NA
6 Andorra AD   1950 F   25-29 NA

Here you see there are 4 variables, one for the country. This variable is of type factor, the ISO2 a country abbreviation, which is of type fatcor as well, the year (type double) the age in groups of 5 year (type factor) and the population (type double). In the few lines that are displayed here you see NA because there are no observations of Andorra for the different age groups for the year 1950.

Now suppose you want to extract the data for Kenya for the year 2022. Now you need the R subsetting rules, which you learned and studied in unit 2 of our course and then applyed many timed in various examples and exercises.

The general rule is that you need the sytax `df[row adress, column adress]` and there are several tools how to specify these adresses. For instance, if you want to select the country Kenya, you need to tell R: Select the rows where the name of the country is Kenya and all columns. How would you do this. This is something you should know by this stage of the course. This would be:

In [5]:
head(df[df$Country == "Kenya", ])

       Country ISO2 Year Sex Age   POP
610041 Kenya   KE   1950 F   0-4   NA
610042 Kenya   KE   1950 F   5-9   NA
610043 Kenya   KE   1950 F   10-14 NA
610044 Kenya   KE   1950 F   15-19 NA
610045 Kenya   KE   1950 F   20-24 NA
610046 Kenya   KE   1950 F   25-29 NA

Again I wrapped this into the `head()` function to show only the first few lines.

Now you want to have the data for Kenya but not all of them but for the year 2022. Then you need something like:

In [6]:
df[df$Year == 2022 & df$Country == "Kenya", ]

       Country ISO2 Year Sex Age   POP
612921 Kenya   KE   2022 F   0-4   3487490
612922 Kenya   KE   2022 F   5-9   3404421
612923 Kenya   KE   2022 F   10-14 3444606
612924 Kenya   KE   2022 F   15-19 3225971
612925 Kenya   KE   2022 F   20-24 2656730
612926 Kenya   KE   2022 F   25-29 2139208
612927 Kenya   KE   2022 F   30-34 1946994
612928 Kenya   KE   2022 F   35-39 1849778
612929 Kenya   KE   2022 F   40-44 1606763
612930 Kenya   KE   2022 F   45-49 1170869
612931 Kenya   KE   2022 F   50-54  858998
612932 Kenya   KE   2022 F   55-59  672025
612933 Kenya   KE   2022 F   60-64  516769
612934 Kenya   KE   2022 F   65-69  387773
612935 Kenya   KE   2022 F   70-74  272320
612936 Kenya   KE   2022 F   75-79  168499
612937 Kenya   KE   2022 F   80-84   93724
612938 Kenya   KE   2022 F   85-89   39226
612939 Kenya   KE   2022 F   90-94   10461
612940 Kenya   KE   2022 F   95-99    1520
612941 Kenya   KE   2022 M   0-4   3531278
612942 Kenya   KE   2022 M   5-9   3431166
612943 Kenya   KE   2022 M   10-14 3473103
612944 Kenya   KE   2022 M   15-19 3249738
612945 Kenya   KE   2022 M   20-24 2664966
612946 Kenya   KE   2022 M   25-29 2119949
612947 Kenya   KE   2022 M   30-34 1926219
612948 Kenya   KE   2022 M   35-39 1830280
612949 Kenya   KE   2022 M   40-44 1610246
612950 Kenya   KE   2022 M   45-49 1196519
612951 Kenya   KE   2022 M   50-54  890662
612952 Kenya   KE   2022 M   55-59  679943
612953 Kenya   KE   2022 M   60-64  488074
612954 Kenya   KE   2022 M   65-69  340546
612955 Kenya   KE   2022 M   70-74  229912
612956 Kenya   KE   2022 M   75-79  138357
612957 Kenya   KE   2022 M   80-84   73093
612958 Kenya   KE   2022 M   85-89   28473
612959 Kenya   KE   2022 M   90-94    6918
612960 Kenya   KE   2022 M   95-99     902

If you want to do computations on this subset of data, it is conventient to story them in a new object. Let's call this object `ke_2022`, so you would have:

In [7]:
ke_2022  <- df[df$Year == 2022 & df$Country == "Kenya", ]

You can ceck:

In [8]:
head(ke_2022)

       Country ISO2 Year Sex Age   POP
612921 Kenya   KE   2022 F   0-4   3487490
612922 Kenya   KE   2022 F   5-9   3404421
612923 Kenya   KE   2022 F   10-14 3444606
612924 Kenya   KE   2022 F   15-19 3225971
612925 Kenya   KE   2022 F   20-24 2656730
612926 Kenya   KE   2022 F   25-29 2139208

Now you can do computations for this. Say you want to know the total population of Kenya in this year, you need to add the female (F) and male (M) poulation numbers. One way to do this we learned in the course is to use the `tapply()`function for example:

In [9]:
tapply(ke_2022$POP, ke_2022$Sex, sum)

       F        M
27954145 27910344