Dear Fatima,

When you load data and select certain subsets, you need to know the material of unit 2 where this is disucssed in detail and of course the various computer exercisises where this was practiced.

Let me remind you of the necessary steps with the example of, say Kenya.

First you need to load the library that stores the data:

In [1]:
library(JWL)

Now the computer has loaded the package with all the data in the package inclding the one we need `population_statistics_by_age_and_sex`, so we can use it in the section. These data have a long name, which is descriptive. It is easier to work with them if we - for this session - store them in an onbject with a simpler name, we can use for our work. Let's call this object - say - `df`

In [2]:
df  <- population_statistics_by_age_and_sex

This is a large datafile, containing observations for many countries and many years, as you can see when you check the size of the data by `dim`:

In [3]:
dim(df)

[1] 1369480       6

It has 1.269.480 rows and 6 columns. We can check how they look like when we use the `head` function, like this:

In [4]:
head(df)

  Country ISO2 Year Sex Age   POP
1 Andorra AD   1950 F   0-4   NA
2 Andorra AD   1950 F   5-9   NA
3 Andorra AD   1950 F   10-14 NA
4 Andorra AD   1950 F   15-19 NA
5 Andorra AD   1950 F   20-24 NA
6 Andorra AD   1950 F   25-29 NA

Here you see there are 4 variables, one for the country. This variable is of type factor, the ISO2 a country abbreviation, which is of type fatcor as well, the year (type double) the age in groups of 5 year (type factor) and the population (type double). In the few lines that are displayed here you see NA because there are no observations of Andorra for the different age groups for the year 1950.